<div class="container mt-5">

<h3>イベント新規作成</h3>
 
<%= render "shared/error", obj: @event %> 

 <%= form_with model: @event do |f| %>
   <table >
     <tr>
       <th class="text-center"><%= f.label :title ,"タイトル" %></th>
       <td><%= f.text_field :title %></td>
     </tr>
 
     <tr>
       <th class="text-center"><%= f.label :start_date ,"開始日" %></th>
       <td><%= f.date_field :start_date %></td>
     </tr>
 
     <tr>
       <th class="text-center"><%= f.label :end_date ,"終了日" %></th>
       <td><%= f.date_field :end_date %></td>
     </tr>
 
     <tr>
       <th class="text-center"><%= f.check_box :all_day%></th>
       <td><%= label_tag :all_day, "終日" %></td>
     </tr>

     <tr>
       <th class="text-center"><%= f.label :schedule_memo ,"スケジュールメモ" %></th>
       <td><%= f.text_area :schedule_memo %></td>
     </tr>
     
   </table>

   <% if flash[:notice] %>
   <p class="notice"><%= flash[:notice] %></p>
   <% end %>

   <div class="d-flex">
     <p class=""><%= f.submit "保存",class:"btn btn-sm btn-primary"%></p>
     <p class="ps-1"><%= link_to "キャンセル", :events, class:"btn btn-sm btn-primary" %></p>
   </div>
 <% end %>
 </div>